WIOTP+MaximoWO.txt
[{"id":"fccb5a5f.f730f8","type":"function","z":"a4eb397d.0f3ff","name":"Create New Work Order","func":"// conn parameters\n\nmaximoIP = global.get(\"cmaximoIP\");\nmaximoUser = global.get(\"cmaximoUser\");\nmaximoPassword = global.get(\"cmaximoPassword\");\nmaximoSite = \"SAOPAULO\";\nmaximoDescription = \"EMERGENCY STOP PLC01 - BEVERAGE LINE 01\";\n\n// Save for nodes further down the process.\nmsg.maximoIP = maximoIP\nmsg.maximoUser = maximoUser\nmsg.maximoPassword = maximoPassword\n\n// Construct URL to create new Work Order. Specify format to be JSON when the new Work Order is returned.\nmsg.url=\"https://\" + maximoIP + \"/maxrest/rest/mbo/workorder?_lid=\" + maximoUser + \"&_lpwd=\" + maximoPassword +\n\"&_compact=true&_format=json&description=\" + maximoDescription + \"&siteid=\" + maximoSite;\n//+ \"&location=\" + msg.payload.d.location;\n\n// To create new record, use the PUT method.\nmsg.method=\"PUT\";\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["7570dd87.4fe96c","93829bc1.cefc3"]]},{"id":"7570dd87.4fe96c","type":"http request","z":"a4eb397d.0f3ff","name":"REST Create WO","method":"use","ret":"txt","url":"","tls":"","x":830,"y":220,"wires":[["29052fb0.15bf88","b2e34b09.7817a8"]]},{"id":"276e03dc.8fdbfc","type":"function","z":"a4eb397d.0f3ff","name":"Change status.","func":"// The new Work order is returned after it has been created so we can grab the ID from there.\nworkorderid = msg.payload.WORKORDER.WORKORDERID\n\n// We want to change the status to approved and also add a memo.\nmaximoStatus = \"APPR\";\nmaximoMemo = \"Status change from the Maximo REST API\";\n\n//Get saved parameters.\nmaximoIP = msg.maximoIP;\nmaximoUser = msg.maximoUser;\nmaximoPassword = msg.maximoPassword;\n\n// Construct the URL, this time we need to use the ID returned for the Workorder.\n// We also specify the new status and memo, along with the &~wo=this parameter which tells us to change this specific Workorder.\n// Since the staus and memo parameters belong to a web service they have a tilde prefix.\nmsg.url=\"https://\" + maximoIP + \"/maxrest/rest/mbo/workorder/\" + workorderid + \"?_lid=\" + maximoUser + \"&_lpwd=\" + maximoPassword +\n\"&_compact=true&_format=json&~status=\" + maximoStatus + \"&~memo=\" + maximoMemo + \"&~wo=this\";\n\n// Use the POST method to update the Workorder.\nmsg.method=\"POST\";\n\n// Since we want to invoke a WebMethod, we need to set a header with the specific method we want to invoke, in this case changeStatus.\nmsg.headers = { \"x-http-method-override\" : \"changeStatus\" };\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["6911b197.4f916"]]},{"id":"7d398e6a.15fe6","type":"json","z":"a4eb397d.0f3ff","name":"Convert to JSON","property":"payload","action":"","pretty":false,"x":210,"y":380,"wires":[["276e03dc.8fdbfc"]]},{"id":"6911b197.4f916","type":"http request","z":"a4eb397d.0f3ff","name":"REST Change Status","method":"use","ret":"txt","url":"","tls":"","x":720,"y":380,"wires":[[]]},{"id":"1fc62d04.45b1fb","type":"function","z":"a4eb397d.0f3ff","name":"PLC Emergency requests","func":"global.set(\"cmaximoIP\",\"192.168.0.1:9443\");\nglobal.set(\"cmaximoUser\",\"user\");\nglobal.set(\"cmaximoPassword\",\"password\");\n\nif (msg.payload.d.di == \"I0.0\") {\nreturn msg;    \n} else {\n    return false;\n}","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["fccb5a5f.f730f8"]]},{"id":"29052fb0.15bf88","type":"debug","z":"a4eb397d.0f3ff","name":"","active":true,"console":"false","complete":"false","x":830,"y":140,"wires":[]},{"id":"93829bc1.cefc3","type":"debug","z":"a4eb397d.0f3ff","name":"","active":true,"tosidebar":true,"console":false,"complete":"url","x":560,"y":140,"wires":[]},{"id":"b2e34b09.7817a8","type":"link out","z":"a4eb397d.0f3ff","name":"link01","links":[],"x":995,"y":220,"wires":[]},{"id":"13f8be5.0a8e2c2","type":"link in","z":"a4eb397d.0f3ff","name":"link02","links":[],"x":75,"y":380,"wires":[["7d398e6a.15fe6"]]},{"id":"c867e125.b15498","type":"comment","z":"a4eb397d.0f3ff","name":"Siemens PLC and Maximo WO","info":"Workflow sources:\n\nhttp://www.instructables.com/id/IoT-Oil-Tank-Gauge-With-IBM-Bluemix-and-Maximo/\n\nhttps://www.ibm.com/developerworks/community/blogs/a9ba1efe-b731-4317-9724-a181d6155e3a/entry/Creating_a_Work_Order_and_approving_it_using_Maximo_REST?lang=en\n","x":190,"y":100,"wires":[]},{"id":"d6239ec1.22e29","type":"ibmiot in","z":"a4eb397d.0f3ff","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"clp01","applicationId":"","deviceType":"s71200","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":220,"wires":[["1fc62d04.45b1fb","e08b2737.1967a"]]},{"id":"e08b2737.1967a","type":"cloudant out","z":"a4eb397d.0f3ff","name":"","cloudant":"","database":"clpeventos","service":"internetdascoisas-cloudantNoSQLDB","payonly":false,"operation":"insert","x":290,"y":300,"wires":[]}]